<% if Rails.env.development? %>
  <div class="bootstrap-helper">
    <div class="hidden-sm-up">XS</div>
    <div class="hidden-md-up hidden-xs-down">SM</div>
    <div class="hidden-lg-up hidden-sm-down">MD</div>
    <div class="hidden-xl-up hidden-md-down">LG</div>
    <div class="hidden-lg-down hidden-lg-down">XL</div>
  </div>
<% end %>
