<div id="Modal" class="modal fade" role="dialog" aria-labelledby="editModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="text-xs-center">
        <%%= icon :spinner, spin: :cw, size: 4 %>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
