<div id="modalSource" class="d-none">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="text-center">
        <%= icon :spinner, :lg, :spin, :cw  %>
      </div>
    </div>
  </div>
</div>
<div id="Modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="editModal" aria-hidden="true" data-backdrop="static" data-keyboard="true">
</div>
